<section class="position-relative overflow-hidden pt-0 pt-sm-5 mt-4">
  <div class="container">
    <!-- Title -->
    <div class="row position-relative z-index-9">
      <div class="col-12 text-center mx-auto">
        <h2 class="mb-0">A propos de mon expérience Professionnelle</h2>
        <p class="my-1 text-center">
          Au cours de mes 3 années chez Neopolis Développement, j'ai occupé le
          poste de développeuse informatique, où j'ai eu l'opportunité de
          travailler sur divers projets, acquérant ainsi une expérience
          précieuse dans plusieurs domaines clés du développement.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-9 mx-auto text-center position-relative">
        <!-- SVG decoration -->
        <figure class="position-absolute top-0 start-0 translate-middle ms-8">
          <svg style="enable-background: new 0 0 141.7 143.9">
            <path
              class="fill-success"
              d="M137.7,53.1c9.6,29.3,1.8,64.7-20.2,80.7s-58.1,12.6-83.5-5.8C8.6,109.5-6.1,76.1,2.4,48.7 C10.8,21.1,42.2-0.7,71.5,0S128.1,23.8,137.7,53.1z"
            />
          </svg>
        </figure>

        <!-- SVG decoration -->
        <figure class="position-absolute bottom-0 end-0 me-n9 rotate-193">
          <svg width="297.5px" height="295.9px">
            <path
              stroke="#F99D2B"
              fill="none"
              stroke-width="13"
              d="M286.2,165.5c-9.8,74.9-78.8,128.9-153.9,120.4c-76-8.6-131.4-78.2-122.8-154.2C18.2,55.8,87.8,0.3,163.7,9"
            ></path>
          </svg>
        </figure>

        <!-- FAQ START -->
        <div
          class="accordion accordion-icon accordion-shadow mt-4 text-start position-relative"
          id="accordionExample2"
        >
          <!-- Item -->
          <div class="accordion-item mb-3">
            <h6 class="accordion-header font-base" id="heading-1">
              <button
                class="accordion-button fw-bold rounded collapsed pe-5"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-1"
                aria-expanded="true"
                aria-controls="collapse-1"
              >
                Quels sont les frameworks front-end utilisés ?
              </button>
            </h6>
            <!-- Body -->
            <div
              id="collapse-1"
              class="accordion-collapse collapse show"
              aria-labelledby="heading-1"
            >
              <div class="accordion-body mt-3">
                J'ai travaillé avec React.js pour créer des interfaces réactives
                et intuitives, optimisant ainsi l'expérience utilisateur.
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="accordion-item mb-3">
            <h6 class="accordion-header font-base" id="heading-2">
              <button
                class="accordion-button fw-bold rounded collapsed pe-5"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-2"
                aria-expanded="false"
                aria-controls="collapse-2"
              >
                Quelles sont les technologies backend exploitées pour développer
                des applications robustes et quels sont les types de bases de
                données intégrées ?
              </button>
            </h6>
            <!-- Body -->
            <div
              id="collapse-2"
              class="accordion-collapse collapse"
              aria-labelledby="heading-2"
            >
              <div class="accordion-body mt-3">
                J'ai utilisé Django pour le backend, en intégrant des bases de
                données relationnelles (SQL) et non relationnelles (NoSQL).
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="accordion-item mb-3">
            <h6 class="accordion-header font-base" id="heading-3">
              <button
                class="accordion-button fw-bold collapsed rounded pe-5"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-3"
                aria-expanded="false"
                aria-controls="collapse-3"
              >
                Comment j'ai géré la communication et la gestion des tâches au
                sein de mon équipe ?
              </button>
            </h6>
            <!-- Body -->
            <div
              id="collapse-3"
              class="accordion-collapse collapse"
              aria-labelledby="heading-3"
            >
              <div class="accordion-body mt-3">
                J'ai participé à des réunions quotidiennes et appliqué la
                méthodologie Scrum pour assurer une communication transparente
                et une gestion efficace des tâches.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFlutter">
              <button
                class="accordion-button h6 rounded collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFlutter"
                aria-expanded="false"
                aria-controls="collapseFlutter"
              >
                Comment j'ai développé des des application Mobile?
              </button>
            </h2>
            <div
              id="collapseFlutter"
              class="accordion-collapse collapse"
              aria-labelledby="headingFlutter"
              data-bs-parent="#accordionFaq"
            >
              <div class="accordion-body">
                <ul
                  style="
                    list-style-type: none;
                    padding-left: 0;
                    font-family: Arial, sans-serif;
                    line-height: 1.6;
                  "
                >
                  <li class="li-class">
                    <span class="bg-warning span-class"></span>
                    Développement d'applications mobiles multiplateformes avec
                    Flutter.
                  </li>
                  <li class="li-class">
                    <span class="bg-warning span-class"></span>
                    Implémentation de l'interface utilisateur fluide et réactive
                    avec Dart.
                  </li>
                  <li class="li-class">
                    <span class="bg-warning span-class"></span>
                    Connexion des applications à des API et gestion des états
                    avec des packages Flutter.
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="accordion-item mb-3">
            <h6 class="accordion-header font-base" id="heading-5">
              <button
                class="accordion-button fw-bold collapsed rounded pe-5"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-5"
                aria-expanded="false"
                aria-controls="collapse-5"
              >
                Comment j'ai assuré la scalabilité des solutions développées
                pour répondre aux besoins croissants des utilisateurs ?
              </button>
            </h6>
            <!-- Body -->
            <div
              id="collapse-5"
              class="accordion-collapse collapse"
              aria-labelledby="heading-5"
            >
              <div class="accordion-body mt-3">
                J'ai conçu des solutions évolutives permettant l'expansion et
                l'adaptation des applications aux exigences changeantes du
                marché et des utilisateurs.
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="accordion-item mb-3">
            <h6 class="accordion-header font-base" id="heading-6">
              <button
                class="accordion-button fw-bold collapsed rounded pe-5"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-6"
                aria-expanded="false"
                aria-controls="collapse-6"
              >
                Quelle a été ma contribution à la documentation et à la qualité
                du code ?
              </button>
            </h6>
            <!-- Body -->
            <div
              id="collapse-6"
              class="accordion-collapse collapse"
              aria-labelledby="heading-6"
            >
              <div class="accordion-body mt-3">
                J'ai rédigé des guides d'utilisation détaillés et mis en place
                des tests unitaires ainsi que des tests d'intégration pour
                garantir la fiabilité et la qualité du code.
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="accordion-item mb-3">
            <h6 class="accordion-header font-base" id="heading-7">
              <button
                class="accordion-button fw-bold collapsed rounded pe-5"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-7"
                aria-expanded="false"
                aria-controls="collapse-7"
              >
                Quels sont les outils de gestion de projet que j'ai utilisé pour
                organiser efficacement votre travail quotidien ?
              </button>
            </h6>
            <!-- Body -->
            <div
              id="collapse-7"
              class="accordion-collapse collapse"
              aria-labelledby="heading-7"
            >
              <div class="accordion-body mt-3">
                J'ai utilisé des outils de gestion de projet tels que Active
                Collab pour organiser efficacement le travail quotidien, suivre
                les progrès et assurer une livraison ponctuelle des projets.
              </div>
            </div>
          </div>

          <!-- Item -->

          <!-- Item -->

          <div class="accordion-item mb-3">
            <h6 class="accordion-header font-base" id="heading-11">
              <button
                class="accordion-button fw-bold collapsed rounded pe-5"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-11"
                aria-expanded="false"
                aria-controls="collapse-11"
              >
                Comment j'ai intégré les retours d'expérience pour améliorer les
                pratiques de développement ?
              </button>
            </h6>
            <!-- Body -->
            <div
              id="collapse-11"
              class="accordion-collapse collapse"
              aria-labelledby="heading-11"
            >
              <div class="accordion-body mt-3">
                J'ai participé à des rétrospectives régulières pour identifier
                les points forts et les domaines à améliorer, intégrant ces
                retours pour optimiser les processus de développement.
              </div>
            </div>
          </div>
          <!-- item END -->

          <div class="accordion-item mb-3">
            <h6 class="accordion-header font-base" id="heading-12">
              <button
                class="accordion-button fw-bold collapsed rounded pe-5"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-12"
                aria-expanded="false"
                aria-controls="collapse-12"
              >
                Comment j'ai développé des compétences interpersonnelles en
                établissant des relations positives avec les autres ?
              </button>
            </h6>
            <!-- Body -->
            <div
              id="collapse-12"
              class="accordion-collapse collapse"
              aria-labelledby="heading-12"
            >
              <div class="accordion-body mt-3">
                J'ai cultivé des relations positives avec mes collègues,
                favorisant un environnement de travail collaboratif et
                harmonieux.
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3">
            <h6 class="accordion-header font-base" id="heading-13">
              <button
                class="accordion-button fw-bold collapsed rounded pe-5"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-13"
                aria-expanded="false"
                aria-controls="collapse-13"
              >
                Comment j'ai adapté aux nouvelles technologies et méthodologies
                dans un environnement agile et orienté vers l’équipe ?
              </button>
            </h6>
            <!-- Body -->
            <div
              id="collapse-13"
              class="accordion-collapse collapse"
              aria-labelledby="heading-13"
            >
              <div class="accordion-body mt-3">
                J'ai démontré une capacité d'adaptation rapide aux nouvelles
                technologies et méthodologies, en restant constamment à jour et
                en appliquant les meilleures pratiques dans un environnement
                agile et orienté vers l'équipe.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="pt-0 pt-md-5">
    <div class="container">
      <div class="row justify-content-center align-items-center g-4">
        <div class="col-lg-6 col-xl-5">
          <!-- Title and button -->
          <h2 class="fs-2 mb-3 text-warning">
            Projets réalisés au sein de Neopolis Développement
          </h2>
          <p class="mb-0">
            Au cours de mon expérience chez Neopolis Développement, j'ai
            participé à la conception et au développement de plusieurs projets
            passionnants, allant de la création d'applications web interactives
            à l'optimisation des systèmes backend. Chaque projet a été une
            occasion de mettre en pratique mes compétences en développement
            frontend et backend, tout en répondant aux besoins spécifiques des
            clients. Ces expériences m'ont permis de perfectionner ma capacité à
            travailler sur des solutions complexes et à livrer des produits de
            qualité.
          </p>
        </div>

        <div class="col-lg-6 ms-xl-auto">
          <!-- Accordion START -->
          <div
            class="accordion accordion-icon accordion-bg-light"
            id="accordionFaq"
          >
            <!-- Accordion item -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                  class="accordion-button h6 rounded"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  Comparateur, Prévoir, MAA (Assurance santé)
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse show"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionFaq"
              >
                <div class="accordion-body">
                  <ul
                    style="
                      list-style-type: none;
                      padding-left: 0;
                      font-family: Arial, sans-serif;
                      line-height: 1.6;
                    "
                  >
                    <li class="li-class">
                      <span class="bg-warning span-class"></span>
                      Développement d’applications pour la gestion des adhésions
                      et des contrats santé en ligne.
                    </li>
                    <li class="li-class">
                      <span class="bg-warning span-class"></span>
                      Contributions au frontend avec React.js.
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Accordion item -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button
                  class="accordion-button h6 rounded collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  MRP (Assurance habitat, restaurants, etc.)
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="headingTwo"
                data-bs-parent="#accordionFaq"
              >
                <div class="accordion-body">
                  <ul
                    style="
                      list-style-type: none;
                      padding-left: 0;
                      font-family: Arial, sans-serif;
                      line-height: 1.6;
                    "
                  >
                    <li class="li-class">
                      <span class="bg-warning span-class"></span>
                      Développement d’une solution pour les contrats d’assurance
                      habitas en ligne.
                    </li>
                    <li class="li-class">
                      <span class="bg-warning span-class"></span>
                      Contributions au frontend avec React.js.
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Accordion item -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button
                  class="accordion-button h6 rounded collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  UGA Voiture (Assurance automobile)
                </button>
              </h2>
              <div
                id="collapseThree"
                class="accordion-collapse collapse"
                aria-labelledby="headingThree"
                data-bs-parent="#accordionFaq"
              >
                <div class="accordion-body">
                  <ul
                    style="
                      list-style-type: none;
                      padding-left: 0;
                      font-family: Arial, sans-serif;
                      line-height: 1.6;
                    "
                  >
                    <li class="li-class">
                      <span class="bg-warning span-class"></span>
                      Développement d’une application mobile pour l’assurance
                      automobile.
                    </li>
                    <li class="li-class">
                      <span class="bg-warning span-class"></span>
                      Implémentation de fonctionnalités backend avec Flask et
                      développement d’une application mobile avec Flutter
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Accordion item -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button
                  class="accordion-button h6 rounded collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFour"
                  aria-expanded="false"
                  aria-controls="collapseFour"
                >
                  UGA Santé (Assurance santé)
                </button>
              </h2>
              <div
                id="collapseFour"
                class="accordion-collapse collapse"
                aria-labelledby="headingFour"
                data-bs-parent="#accordionFaq"
              >
                <div class="accordion-body">
                  <ul
                    style="
                      list-style-type: none;
                      padding-left: 0;
                      font-family: Arial, sans-serif;
                      line-height: 1.6;
                    "
                  >
                    <li class="li-class">
                      <span class="bg-warning span-class"></span>
                      Développement d’une application web pour la gestion des
                      assurances
                    </li>
                    <li class="li-class">
                      <span class="bg-warning span-class"></span>
                      Contributions au frontend avec React.js et backend avec
                      Flask.
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Accordion item -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button
                  class="accordion-button h6 rounded collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFive"
                  aria-expanded="false"
                  aria-controls="collapseFive"
                >
                  UGA Voyage ,Assurance voyage
                </button>
              </h2>
              <div
                id="collapseFive"
                class="accordion-collapse collapse"
                aria-labelledby="headingFive"
                data-bs-parent="#accordionFaq"
              >
                <div class="accordion-body">
                  <ul
                    style="
                      list-style-type: none;
                      padding-left: 0;
                      font-family: Arial, sans-serif;
                      line-height: 1.6;
                    "
                  >
                    <li class="li-class">
                      <span class="bg-warning span-class"></span>
                      Développement d’une application web pour les assurances
                      voyage
                    </li>
                    <li class="li-class">
                      <span class="bg-warning span-class"></span>
                      Contributions au frontend avec React.js et backend avec
                      Flask.
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSix">
                <button
                  class="accordion-button h6 rounded collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseSix"
                  aria-expanded="false"
                  aria-controls="collapseSix"
                >
                  PDF Studio API
                </button>
              </h2>
              <div
                id="collapseSix"
                class="accordion-collapse collapse"
                aria-labelledby="headingSix"
                data-bs-parent="#accordionFaq"
              >
                <div class="accordion-body">
                  <ul
                    style="
                      list-style-type: none;
                      padding-left: 0;
                      font-family: Arial, sans-serif;
                      line-height: 1.6;
                    "
                  >
                    <li class="li-class">
                      <span class="bg-warning span-class"></span>
                      Développement d’un générateur intelligent de PDF
                    </li>
                    <li class="li-class">
                      <span class="bg-warning span-class"></span>
                      Contribution au frontend avec Svelte et création du site
                      vitrine avec React.js
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSeven">
                <button
                  class="accordion-button h6 rounded collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseSeven"
                  aria-expanded="false"
                  aria-controls="collapseSeven"
                >
                  SIGAF (Formulaires d’investissement)
                </button>
              </h2>
              <div
                id="collapseSeven"
                class="accordion-collapse collapse"
                aria-labelledby="headingSeven"
                data-bs-parent="#accordionFaq"
              >
                <div class="accordion-body">
                  <ul
                    style="
                      list-style-type: none;
                      padding-left: 0;
                      font-family: Arial, sans-serif;
                      line-height: 1.6;
                    "
                  >
                    <li class="li-class">
                      <span class="bg-warning span-class"></span>
                      Développement d’une solution basée sur SurveyJS pour les
                      demandes d’investissement.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingEight">
                <button
                  class="accordion-button h6 rounded collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseEight"
                  aria-expanded="false"
                  aria-controls="collapseEight"
                >
                  GLI (Assurance pour les locataires)
                </button>
              </h2>
              <div
                id="collapseEight"
                class="accordion-collapse collapse"
                aria-labelledby="headingEight"
                data-bs-parent="#accordionFaq"
              >
                <div class="accordion-body">
                  <ul
                    style="
                      list-style-type: none;
                      padding-left: 0;
                      font-family: Arial, sans-serif;
                      line-height: 1.6;
                    "
                  >
                    <li class="li-class">
                      <span class="bg-warning span-class"></span>
                      Contribution au développement backend avec Flask
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- Accordion END -->
        </div>
      </div>
    </div>
  </section>
</section>
