<section class="pt-0">
  <div class="container">
    <div class="row">
      <h2 class="my-5 text-center">
        Quelques <span class="text-warning">Projets</span>
      </h2>
      <div class="col-11 col-lg-12 my-3 text-center justify-content-center">
        <!-- Image -->

        <!-- Title -->
        <h1 class="mb-0 text-warning display-6">
          <span class="position-relative">
            OpenCEMS ?

            <!-- SVG END -->
          </span>
        </h1>
        <div>
          <strong class="mt-5 text-center">
            Le projet OpenCEMS consiste en le développement d'une plateforme
            innovante dédiée à la modélisation et à l'analyse des données
            médicales. En utilisant des technologies modernes telles que
            React.js, Flask, React-D3-Graph et des algorithmes d’apprentissage
            automatique (LDA, HLDA, NMF), cette plateforme transforme des bases
            de données médicales hétérogènes en graphes interactifs. L'objectif
            est de faciliter la gestion administrative et l’analyse des données
            cliniques en offrant des visualisations intelligentes et des résumés
            automatiques de documents, intégrant les capacités de GPT-3.5. En
            plus de réduire significativement le temps consacré à la
            documentation médicale, la plateforme améliore la prise de décision
            en offrant des graphes automatisés et des visualisations intuitives.
            Ce projet permet ainsi une meilleure gestion des données de santé et
            optimise les processus décisionnels dans le domaine médical.
          </strong>
        </div>
      </div>
      <div class="row">
        <div class="col-11 col-lg-6">
          <!-- Image -->

          <!-- Title -->
          <h3 class="mb-0 text-warning">
            <span class="position-relative">
              Collaboration et Analyse
              <!-- SVG START -->

              <!-- SVG END -->
            </span>
          </h3>
          <strong class="text-center mt-5">
            Le projet OpenCEMS a été développé dans le cadre d’une mission
            freelance pour des doctorants en France, visant à répondre aux défis
            croissants liés à la gestion et à l'analyse des données médicales.
            Cette plateforme innovante utilise des technologies avancées telles
            que React.js, Flask, React-D3-Graph, ainsi que des algorithmes
            d’apprentissage automatique tels que LDA, HLDA et NMF, pour
            transformer des bases de données médicales hétérogènes en graphes
            interactifs et intelligents.
          </strong>
        </div>
        <div class="col-11 col-lg-5 offset-md-1">
          <h3 class="mb-0 text-warning">
            <span class="position-relative"> Technologies Utilisées </span>
          </h3>
          <strong class="text-center mt-5">
            Le projet a été réalisé avec les technologies modernes React, Neo4j
            et Flask, garantissant une application rapide, fiable et évolutive.
          </strong>
        </div>
      </div>
      <div class="col-12 my-5">
        <div id="carouselComedic" class="carousel slide">
          <div class="carousel-inner bg-dark">
            <div class="carousel-item bg-secondary active">
              <img
                src="assets/MedDataX/21.png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>

            <div class="carousel-item">
              <img
                src="assets/MedDataX/1.png"
                class="d-block w-100 h-75 img-fluid"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/2.png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/3.png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/4.png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/5.png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/6.png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/7.png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/8.png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/9.png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/10.png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/11.png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/12.png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/13.png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>

            <div class="carousel-item">
              <img
                src="assets/MedDataX/14.png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/15.png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>

            <div class="carousel-item">
              <img
                src="assets/MedDataX/16.png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/17.png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>

            <div class="carousel-item">
              <img
                src="assets/MedDataX/18.png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/19.png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>

            <div class="carousel-item">
              <img
                src="assets/MedDataX/20.png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/amal.png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>

            <div class="carousel-item">
              <img
                src="assets/MedDataX/amal1.png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/image.png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>

            <div class="carousel-item">
              <img
                src="assets/MedDataX/image (1).png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/image (2).png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/image (3).png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/image (4).png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/image (5).png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/image (6).png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>

            <div class="carousel-item">
              <img
                src="assets/MedDataX/image (8).png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/image (9).png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/image (10).png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/image (11).png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselComedic"
            data-bs-slide="prev"
          >
            <span
              style="border-radius: 45px"
              class="carousel-control-prev-icon bg-secondary"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselComedic"
            data-bs-slide="next"
          >
            <span
              style="border-radius: 45px"
              class="carousel-control-next-icon bg-secondary"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="w-100 my-auto">
        <div class="row justify-content-center my-5">
          <div class="col-11 col-lg-12 text-center">
            <!-- Image -->

            <!-- Title -->
            <h6 class="mb-0 text-warning display-6">
              <span class="position-relative"> Site Web E-Commerce </span>
            </h6>
            <strong class="mt-5">
              Le projet de fin d'études (PFE) a consisté en le développement
              d'un site web e-commerce au sein de Uptech, réalisé de février à
              juin 2022. Dans le cadre de ce projet, j'ai participé activement à
              la conception et au développement de la plateforme en utilisant
              React.js pour le frontend et NestJS pour le backend
            </strong>
          </div>
        </div>
      </div>
      <div class="col-12 mb-5">
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner bg-dark">
            <div class="carousel-item active">
              <img
                src="assets/MedDataX/PFE/image (10).png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/PFE/image (2).png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item bg-secondary">
              <img
                src="assets/MedDataX/PFE/image (20).png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/PFE/image.png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/PFE/image (1).png"
                class="d-block w-100 h-75 img-fluid"
                alt="..."
              />
            </div>

            <div class="carousel-item">
              <img
                src="assets/MedDataX/PFE/image (3).png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>

            <div class="carousel-item">
              <img
                src="assets/MedDataX/PFE/image (6).png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/PFE/image (8).png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/PFE/image (5).png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/PFE/image (9).png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>

            <div class="carousel-item">
              <img
                src="assets/MedDataX/PFE/image (11).png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>

            <div class="carousel-item">
              <img
                src="assets/MedDataX/PFE/image (12).png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/PFE/image (13).png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/PFE/image (14).png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/PFE/image (15).png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/PFE/image (18).png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/MedDataX/PFE/image (19).png"
                class="d-block w-100 img-fluid h-50"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="prev"
          >
            <span
              style="border-radius: 45px"
              class="carousel-control-prev-icon bg-secondary"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="next"
          >
            <span
              style="border-radius: 45px"
              class="carousel-control-next-icon bg-secondary"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
