<section class="bg-light position-relative mt-5">
  <!-- SVG Image -->
  <figure class="position-absolute start-0 bottom-0 mb-0">
    <img src="assets/images/element/10.svg" class="h-200px" alt="" />
  </figure>

  <div class="container">
    <!-- Title -->
    <div class="row mb-4">
      <div class="col-lg-8 mx-auto text-center">
        <h2>Mes Compétences Clés</h2>
        <p class="mb-0">
          Je possède un ensemble de compétences techniques solides acquises au
          cours de mon parcours académique et professionnel, allant du
          développement frontend et backend à l'architecture des systèmes et à
          la gestion de projets.
        </p>
      </div>
    </div>

    <div class="row justify-content-center align-items-center mt-5">
      <div class="col-md-2">
        <h5 class="text-warning">Frontend</h5>
      </div>
      <div class="col-md-10">
        <div class="bg-light rounded-3 p-4">
          <!-- Slider START -->
          <div
            class="tiny-slider arrow-round arrow-creative arrow-blur arrow-hover py-1"
          >
            <div
              class="tiny-slider-inner"
              data-autoplay="true"
              data-gutter="80"
              data-arrow="true"
              data-dots="false"
              data-items="3"
              data-items-lg="3"
              data-items-md="2"
              data-items-xs="1"
            >
              <!-- Item -->
              <div>
                <div
                  class="bg-body text-center rounded-2 border py-2 px-1 position-relative"
                >
                  <img src="assets/react.png" class="h-40px" alt="" />
                  <a href="#" class="text-primary-hover stretched-link"
                    ><span class="h6 ms-2">React </span></a
                  >
                </div>
              </div>
              <!-- Item -->
              <div>
                <div
                  class="bg-body text-center rounded-2 border py-2 px-1 position-relative"
                >
                  <img src="assets/antd.jpeg" class="h-40px" alt="" />
                  <a href="#" class="text-primary-hover stretched-link"
                    ><span class="h6 ms-2">Antd </span></a
                  >
                </div>
              </div>
              <!-- Item -->
              <div>
                <div
                  class="bg-body text-center rounded-2 border py-2 px-1 position-relative"
                >
                  <img src="assets/rs.png" class="h-30px" alt="" />
                  <a href="#" class="text-primary-hover stretched-link"
                    ><span class="h6 ms-2">ReactStrap</span></a
                  >
                </div>
              </div>
              <!-- Item -->
              <div>
                <div
                  class="bg-body text-center rounded-2 border py-2 px-1 position-relative"
                >
                  <img src="assets/Svelte.png" class="h-40px" alt="" />
                  <a href="#" class="text-primary-hover stretched-link"
                    ><span class="h6 ms-2">Svelte</span></a
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- Slider END -->
        </div>
      </div>
    </div>
    <div class="row justify-content-center align-items-center mt-3">
      <div class="col-md-2">
        <h5 class="text-warning">Backend</h5>
      </div>
      <div class="col-md-10">
        <div class="bg-light rounded-3 p-4">
          <!-- Slider START -->
          <div
            class="tiny-slider arrow-round arrow-creative arrow-blur arrow-hover py-1"
          >
            <div
              class="tiny-slider-inner"
              data-autoplay="true"
              data-gutter="80"
              data-arrow="true"
              data-dots="false"
              data-items="2"
              data-items-lg="3"
              data-items-md="2"
              data-items-xs="1"
            >
              <!-- Item -->
              <div>
                <div
                  class="bg-body text-center rounded-2 border py-2 px-1 position-relative mx-5"
                >
                  <img src="assets/sringboot.png" class="h-40px" alt="" />
                  <a href="#" class="text-primary-hover stretched-link"
                    ><span class="h6 ms-2">Spring Boot </span></a
                  >
                </div>
              </div>
              <!-- Item -->
              <div>
                <div
                  class="bg-body text-center rounded-2 border py-2 px-1 position-relative"
                >
                  <img src="assets/flask.jpeg" class="h-40px" alt="" />
                  <a href="#" class="text-primary-hover stretched-link"
                    ><span class="h6 ms-2">Flask </span></a
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- Slider END -->
        </div>
      </div>
    </div>

    <div class="row justify-content-center align-items-center mt-5">
      <div class="col-md-3">
        <h5 class="text-warning">DEVOPS</h5>
      </div>
      <div class="col-md-9">
        <div class="bg-light rounded-3 p-4">
          <!-- Slider START -->
          <div
            class="tiny-slider arrow-round arrow-creative arrow-blur arrow-hover py-1"
          >
            <div
              class="tiny-slider-inner"
              data-autoplay="true"
              data-gutter="80"
              data-arrow="true"
              data-dots="false"
              data-items="3"
              data-items-lg="2"
              data-items-md="2"
              data-items-xs="1"
            >
              <!-- Item -->
              <div>
                <div
                  class="bg-body text-center rounded-2 border py-2 px-1 position-relative"
                >
                  <img src="assets/jenk.png" class="h-40px" alt="" />
                  <a href="#" class="text-primary-hover stretched-link"
                    ><span class="h6 ms-2">Jenkins </span></a
                  >
                </div>
              </div>
              <!-- Item -->
              <div>
                <div
                  class="bg-body text-center rounded-2 border py-2 px-1 position-relative"
                >
                  <img src="assets/gitlab.png" class="h-40px" alt="" />
                  <a href="#" class="text-primary-hover stretched-link"
                    ><span class="h6 ms-2">Gitlab </span></a
                  >
                </div>
              </div>
              <!-- Item -->
              <div>
                <div
                  class="bg-body text-center rounded-2 border py-2 px-1 position-relative"
                >
                  <img src="assets/ci-cd.png" class="h-30px" alt="" />
                  <a href="#" class="text-primary-hover stretched-link"
                    ><span class="h6 ms-2">CI/CD</span></a
                  >
                </div>
              </div>
              <!-- Item -->
              <div>
                <div
                  class="bg-body text-center rounded-2 border py-2 px-1 position-relative"
                >
                  <img src="assets/docker.png" class="h-40px" alt="" />
                  <a href="#" class="text-primary-hover stretched-link"
                    ><span class="h6 ms-2">Docker </span></a
                  >
                </div>
              </div>
              <!-- Item -->

              <!-- Item -->
            </div>
          </div>
          <!-- Slider END -->
        </div>
      </div>
    </div>
    <!-- Feedback END -->

    <div class="row justify-content-center align-items-center mt-5">
      <div class="col-md-3">
        <h5 class="text-warning">gestion de versions & base de données</h5>
      </div>
      <div class="col-md-9">
        <div class="bg-light rounded-3 p-4">
          <!-- Slider START -->
          <div
            class="tiny-slider arrow-round arrow-creative arrow-blur arrow-hover py-1"
          >
            <div
              class="tiny-slider-inner"
              data-autoplay="true"
              data-gutter="80"
              data-arrow="true"
              data-dots="false"
              data-items="3"
              data-items-lg="2"
              data-items-md="2"
              data-items-xs="1"
            >
              <!-- Item -->
              <div>
                <div
                  class="bg-body text-center rounded-2 border py-2 px-1 position-relative"
                >
                  <img src="assets/my.png" class="h-40px" alt="" />
                  <a href="#" class="text-primary-hover stretched-link"
                    ><span class="h6 ms-2">MySQL </span></a
                  >
                </div>
              </div>
              <!-- Item -->
              <div>
                <div
                  class="bg-body text-center rounded-2 border py-2 px-1 position-relative"
                >
                  <img src="assets/git.png" class="h-40px" alt="" />
                  <a href="#" class="text-primary-hover stretched-link"
                    ><span class="h6 ms-2">Git </span></a
                  >
                </div>
              </div>
              <!-- Item -->
              <div>
                <div
                  class="bg-body text-center rounded-2 border py-2 px-1 position-relative"
                >
                  <img src="assets/psq.png" class="h-30px" alt="" />
                  <a href="#" class="text-primary-hover stretched-link"
                    ><span class="h6 ms-2">Postgresql</span></a
                  >
                </div>
              </div>
              <!-- Item -->
              <div>
                <div
                  class="bg-body text-center rounded-2 border py-2 px-1 position-relative"
                >
                  <img src="assets/mg.jpeg" class="h-40px" alt="" />
                  <a href="#" class="text-primary-hover stretched-link"
                    ><span class="h6 ms-2">MongoDb </span></a
                  >
                </div>
              </div>
              <div>
                <div
                  class="bg-body text-center rounded-2 border py-2 px-1 position-relative"
                >
                  <img src="assets/neo4.png" class="h-40px" alt="" />
                  <a href="#" class="text-primary-hover stretched-link"
                    ><span class="h6 ms-2">Neo4j </span></a
                  >
                </div>
              </div>
              <!-- Item -->

              <!-- Item -->
            </div>
          </div>
          <!-- Slider END -->
        </div>
      </div>
    </div>

    <div class="row justify-content-center align-items-center mt-5">
      <div class="col-md-3">
        <h5 class="text-warning">Tests et Assurance Qualité</h5>
      </div>
      <div class="col-md-9">
        <div class="bg-light rounded-3 p-4">
          <!-- Slider START -->
          <div
            class="tiny-slider arrow-round arrow-creative arrow-blur arrow-hover py-1"
          >
            <div
              class="tiny-slider-inner"
              data-autoplay="true"
              data-gutter="80"
              data-arrow="true"
              data-dots="false"
              data-items="3"
              data-items-lg="2"
              data-items-md="2"
              data-items-xs="1"
            >
              <!-- Item -->
              <div>
                <div
                  class="bg-body text-center rounded-2 border py-2 px-1 position-relative"
                >
                  <img src="assets/jest.png" class="h-40px" alt="" />
                  <a href="#" class="text-primary-hover stretched-link"
                    ><span class="h6 ms-2">Jest </span></a
                  >
                </div>
              </div>
              <!-- Item -->
              <div>
                <div
                  class="bg-body text-center rounded-2 border py-2 px-1 position-relative"
                >
                  <img src="assets/sonarqube.png" class="h-40px" alt="" />
                  <a href="#" class="text-primary-hover stretched-link"
                    ><span class="h6 ms-2">sonarqube </span></a
                  >
                </div>
              </div>
              <!-- Item -->
              <div>
                <div
                  class="bg-body text-center rounded-2 border py-2 px-1 position-relative"
                >
                  <img src="assets/synk.jpeg" class="h-30px" alt="" />
                  <a href="#" class="text-primary-hover stretched-link"
                    ><span class="h6 ms-2">Synk</span></a
                  >
                </div>
              </div>
              <!-- Item -->
              <div>
                <div
                  class="bg-body text-center rounded-2 border py-2 px-1 position-relative"
                >
                  <img src="assets/sonar.png" class="h-40px" alt="" />
                  <a href="#" class="text-primary-hover stretched-link"
                    ><span class="h6 ms-2">SonarLint </span></a
                  >
                </div>
              </div>
              <div>
                <div
                  class="bg-body text-center rounded-2 border py-2 px-1 position-relative"
                >
                  <img src="assets/cypress.png" class="h-40px" alt="" />
                  <a href="#" class="text-primary-hover stretched-link"
                    ><span class="h6 ms-2">Cypress </span></a
                  >
                </div>
              </div>
              <!-- Item -->

              <!-- Item -->
            </div>
          </div>
          <!-- Slider END -->
        </div>
      </div>
    </div>

    <div class="row justify-content-center align-items-center mt-5">
      <div class="col-md-3">
        <h5 class="text-warning">Méthodologies agile</h5>
      </div>
      <div class="col-md-9">
        <div class="bg-light rounded-3 p-4">
          <!-- Slider START -->
          <div
            class="tiny-slider arrow-round arrow-creative arrow-blur arrow-hover py-1"
          >
            <div
              class="tiny-slider-inner"
              data-autoplay="true"
              data-gutter="80"
              data-arrow="true"
              data-dots="false"
              data-items="3"
              data-items-lg="2"
              data-items-md="2"
              data-items-xs="1"
            >
              <!-- Item -->
              <div>
                <div
                  class="bg-body text-center rounded-2 border py-2 px-1 position-relative"
                >
                  <img src="assets/comm.jpeg" class="h-40px" alt="" />
                  <a href="#" class="text-primary-hover stretched-link"
                    ><span class="h6 ms-2">communication </span></a
                  >
                </div>
              </div>
              <!-- Item -->
              <div>
                <div
                  class="bg-body text-center rounded-2 border py-2 px-1 position-relative"
                >
                  <img src="assets/equipe.jpeg" class="h-40px" alt="" />
                  <a href="#" class="text-primary-hover stretched-link"
                    ><span class="h6 ms-2">Travail en equipe </span></a
                  >
                </div>
              </div>
              <!-- Item -->
              <div>
                <div
                  class="bg-body text-center rounded-2 border py-2 px-1 position-relative"
                >
                  <img src="assets/scrum.png" class="h-30px" alt="" />
                  <a href="#" class="text-primary-hover stretched-link"
                    ><span class="h6 ms-2">Scrum</span></a
                  >
                </div>
              </div>
              <!-- Item -->
              <div>
                <div
                  class="bg-body text-center rounded-2 border py-2 px-1 position-relative"
                >
                  <img src="assets/resE.jpeg" class="h-40px" alt="" />
                  <a href="#" class="text-primary-hover stretched-link"
                    ><span class="h6 ms-2">Résolution des problémes </span></a
                  >
                </div>
              </div>

              <!-- Item -->
            </div>
          </div>
          <!-- Slider END -->
        </div>
      </div>
    </div>
  </div>
</section>
