<section class="bg-light position-relative mt-5">
  <!-- SVG Image -->
  <figure class="position-absolute start-0 bottom-0 mb-0">
    <img src="assets/images/element/10.svg" class="h-200px" alt="" />
  </figure>

  <div class="container">
    <!-- Title -->
    <div class="row mb-4">
      <div class="col-lg-8 mx-auto text-center">
        <h2>Mes Compétences Clés</h2>
        <p class="mb-0">
          Je possède un ensemble de compétences techniques solides acquises au
          cours de mon parcours académique et professionnel, allant du
          développement frontend et backend à l'architecture des systèmes et à
          la gestion de projets.
        </p>
      </div>
    </div>

    <!-- Feedback START -->
    <div class="row">
      <!-- Slider START -->
      <div
        class="tiny-slider arrow-round arrow-creative arrow-dark arrow-hover"
      >
        <div class="row justify-content-center align-items-center">
          <div class="col-3"><h3 class="text-warning">Frontend</h3></div>
          <div class="col-9">
            <div
              class="tiny-slider-inner"
              data-autoplay="true"
              data-edge="5"
              data-arrow="true"
              data-dots="false"
              data-items="4"
              data-items-xl="3"
              data-items-md="2"
              data-items-xs="1"
            >
              <!-- Feedback item -->
              <div>
                <div
                  class="bg-body text-center p-4 rounded-3 border border-1 position-relative"
                >
                  <!-- Avatar -->
                  <div class="mb-3">
                    <img
                      class="img-fluid w-50 rounded-circle"
                      src="assets/react.png"
                      alt="avatar"
                    />
                  </div>

                  <h6 class="mb-2">React Js</h6>
                </div>
              </div>

              <!-- Feedback item -->
              <div>
                <div
                  class="bg-body text-center p-4 rounded-3 border border-1 position-relative"
                >
                  <!-- Avatar -->
                  <div class="mb-3">
                    <img
                      class="img-fluid w-100 rounded-circle"
                      src="assets/Svelte.png"
                      alt="avatar"
                    />
                  </div>

                  <h6 class="mb-2"></h6>
                </div>
              </div>

              <!-- Feedback item -->
              <div>
                <div
                  class="bg-body text-center p-4 rounded-3 border border-1 position-relative"
                >
                  <!-- Avatar -->
                  <div class="mb-3">
                    <img
                      class="img-fluid rounded-circle w-50"
                      src="assets/antd.jpeg"
                      alt=" "
                    />
                  </div>
                  <!-- Title -->
                  <h6 class="mb-2">Antd</h6>
                </div>
              </div>

              <!-- Feedback item -->
              <div>
                <div
                  class="bg-body text-center p-4 rounded-3 border border-1 position-relative"
                >
                  <!-- Avatar -->
                  <div class="mb-3">
                    <img
                      class="img-fluid w-100"
                      src="assets/material Ui.png"
                      alt="avatar"
                    />
                  </div>
                  <!-- Title -->
                </div>
              </div>

              <div>
                <div
                  class="bg-body text-center p-4 rounded-3 border border-1 position-relative"
                >
                  <!-- Avatar -->
                  <div class="mb-3">
                    <img
                      class="img-fluid rounded-circle w-50"
                      src="assets/bootstrap.jpeg"
                      alt="avatar"
                    />
                  </div>
                  <!-- Title -->
                  <h6 class="mb-2">Bootstrap</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Slider START -->
    </div>

    <div class="row">
      <!-- Slider START -->
      <div
        class="tiny-slider arrow-round arrow-creative arrow-dark arrow-hover"
      >
        <div class="row mt-3 justify-content-center align-items-center">
          <div class="col-3"><h3 class="text-warning">Backend</h3></div>
          <div class="col-9">
            <div
              class="tiny-slider-inner"
              data-autoplay="true"
              data-edge="2"
              data-arrow="true"
              data-dots="false"
              data-items="2"
              data-items-xl="2"
              data-items-md="2"
              data-items-xs="1"
            >
              <!-- Feedback item -->
              <div>
                <div
                  class="bg-body text-center p-4 rounded-3 border border-1 position-relative"
                >
                  <!-- Avatar -->
                  <div class="mb-3">
                    <img
                      class="img-fluid w-75"
                      src="assets/sringboot.png"
                      alt="avatar"
                    />
                  </div>

                  <h6 class="mb-2">Spring boot</h6>
                </div>
              </div>

              <!-- Feedback item -->
              <div>
                <div
                  class="bg-body text-center p-4 rounded-3 border border-1 position-relative"
                >
                  <!-- Avatar -->
                  <div class="mb-3">
                    <img
                      class="img-fluid w-100 rounded-circle"
                      src="assets/flask.jpeg"
                      alt="avatar"
                    />
                  </div>

                  <h6 class="mb-2">Flask</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Slider START -->
    </div>

    <div class="row mt-3">
      <!-- Slider START -->
      <div
        class="tiny-slider arrow-round arrow-creative arrow-dark arrow-hover"
      >
        <div class="row justify-content-center align-items-center">
          <div class="col-3"><h3 class="text-warning">Mobile</h3></div>
          <div class="col-9">
            <div
              class="tiny-slider-inner"
              data-autoplay="true"
              data-edge="1"
              data-arrow="true"
              data-dots="false"
              data-items="1"
              data-items-xl="1"
              data-items-md="1"
              data-items-xs="1"
            >
              <!-- Feedback item -->
              <div>
                <div
                  class="bg-body text-center p-4 rounded-3 border border-1 position-relative"
                >
                  <!-- Avatar -->
                  <div class="mb-3">
                    <img
                      class="img-fluid w-50 rounded-circle"
                      src="assets/flutter.png"
                      alt="avatar"
                    />
                  </div>

                  <h6 class="mb-2">Flutter</h6>
                </div>
              </div>

              <!-- Feedback item -->
            </div>
          </div>
        </div>
      </div>
      <!-- Slider START -->
    </div>

    <!-- Feedback END -->
  </div>
</section>
